.App {
    text-align: center;
}

.header {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo {
    position: absolute;
    left: 0;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10%;
    padding: 5px;
}

.search-bar {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.title {
    font-size: 30px;
}

.other-hogwarts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 74vh;
}

.character-btn {
    width: 45vw;
    height: 60vh;
    font-size: 50px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10%;
}

.character-btn:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 2px;
}

.other-btn {
    width: 45vw;
    height: 60vh;
    font-size: 50px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10%;
}

.other-btn:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 2px;
}

.houses {
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: .85fr 1fr;
    margin-left: 60px;
}

.gbtn {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 45vw;
    height: 35vh;
    cursor: pointer;
}

.gbtn:hover {
    box-shadow: 0px 0px 3px 2px;
}

.rbtn {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 45vw;
    height: 35vh;
    cursor: pointer;
}

.rbtn:hover {
    box-shadow: 0px 0px 3px 2px;
}

.hbtn {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 45vw;
    height: 35vh;
    cursor: pointer;
}

.hbtn:hover {
    box-shadow: 0px 0px 3px 2px;
}

.sbtn {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 45vw;
    height: 35vh;
    cursor: pointer;
}

.sbtn:hover {
    box-shadow: 0px 0px 3px 2px;
}

.nav-links {
    /* border: 2px solid; */
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    /* padding: 10px; */
    margin-bottom: 15px;
    margin-left: -10px;
}

a {
    color: black;
    /* background-color: rgb(212, 134, 134); */
    text-decoration: none;
    /* border: 2px solid; */
    width: 180px;
    padding: 5px;
    cursor: pointer;
}

/* a:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 2px;
} */

.body {
    width: 100vw;
    height: 74vh;
    overflow: scroll;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}

.character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 30px;
}

.characterCard {
    border: 2px solid;
    border-radius: 10%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.characterCard:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 2px;
    background-color: rgb(231, 220, 202);
}

img {
    width: 180px;
    border: 2px solid;
    border-radius: 50%;
}